
@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Cardo&family=Cinzel&family=IM+Fell+DW+Pica&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Medieval monster theme by sliverspell */

/* Background container image. Here you change the background color or image for the object journal, 
or also known as markdown container */
.markdown-container {
  background-image: url('https://watercolors.giantsoup.com/templates/mm_background_base.png');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  overflow-y: auto; /* Focus on the scrolling issue */
  height: auto; /* Temporarily switch to auto to test behavior */
  min-height: 100vh; /* Ensure it covers at least the viewport height */
  min-height: 100vh;
  border: 1px solid transparent;
  padding: 20px 25px 20px 20px;
}



.markdown-container p {
    padding-top: 10px; /* Adds space above each paragraph */
    padding-bottom: 10px; /* Adds space below each paragraph */
    padding-left: 10px; /* Adds space to the left of each paragraph */
    padding-right: 10px; /* Corrected typo, adds space to the right */
    font-size: 1.2em; /* Adjusts font size for better readability */
    line-height: 1.1em; /* Improves spacing between lines */
    letter-spacing: 0.02em; /* Slightly increases spacing between letters */
}

/* Adjusting font size and line height for elements in markdown-container, excluding headings */
.markdown-container *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1.2em;
    line-height: 1.1em;
}

/*This changes the markdown horizontal line, using --- in markdown */
div.markdown-container hr {
    margin-top: 1em; /* Adds space above the <hr> */
    margin-bottom: 1em; /* Adds space below the <hr> */
    border: none; /* Removes the default border */
    height: 3px; /* Sets the height of the <hr> to 2 pixels */
    background-color: #808080; /* Sets a fallback background color */
    background-image: url('URL_TO_YOUR_IMAGE'); /* Sets a background image */
    background-repeat: repeat-x; /* Repeats the background image horizontally */
    background-size: 100% 2px; /* Stretches the background image to cover the <hr> width fully and sets its height */
    box-sizing: border-box; /* Ensures the height calculation includes any border and padding */
}

/* Headers Styling */
h1, div.markdown-container h1 {
    font-family: 'Cinzel', serif;
    color: rgba(195, 190, 33 );
    text-align: center;
    font-size: 30px;
    border-bottom: 8px solid rgba(195, 190, 33 );!important;
    border-top: none;
    padding-bottom: 0.5em;
}

div.markdown-container h2 {
    border-bottom: none !important;
}

h2, div.markdown-container h2 {
    display: flex; /* Using flexbox to manage the space */
    justify-content: center; /* Center the text (flex item) horizontally */
    align-items: center; /* Align the text (flex item) vertically */
    font-family: 'Almendra', serif;
    color: rgba(86, 15, 0, 1);
    font-size: 24px;
    position: relative;
    text-align: center;
    width: 100%; /* Ensure full width to distribute space for lines */
    overflow: hidden; /* Keep everything contained */
    margin: 20px 0; /* Spacing above and below the h2 */
    border-bottom: none;
    padding-bottom: 1px;
}

h2::before, div.markdown-container h2::before,
h2::after, div.markdown-container h2::after {
    content: "";
    flex-grow: 1; /* Allows lines to fill available space */
    background: #890900; /* Red line color */
    height: 0.7px; /* Line thickness */
    margin: 0 10px; /* Spacing between the text and the lines */
}

h3, div.markdown-container h3 {
    font-family: 'Lora', serif;
    color: rgba(86, 15, 0, 1);
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #890900; /* Adding red underline */
    display: inline-block;
    padding-left: 10px;
}

h4, div.markdown-container h4 {
    font-family: 'Lora', serif;
    color: rgba(86, 15, 0, 1);
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #890900; /* Adding underline border */
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px; /* Creates space between the text and the border */
    margin-bottom: 10px; /* Pushes down content that follows the h4 */
}

h5, div.markdown-container h5 {
    font-family: 'Lora', serif;
    color: rgb(29, 27, 26);
    background-color: #808080;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #890900; /* Adding underline border */
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px; /* Creates space between the text and the border */
    margin-bottom: 10px; /* Pushes down content that follows the h4 */
}
/* Styling for markdown horizontal line in Monstertheme */
div.markdown-container hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    height: 7px; /* Line height */
    background-color: rgba(195, 190, 33 ); /* Base color in case the gradient doesn't load */
    background-image: linear-gradient(to right, rgba(195, 190, 33 );, ##0000); /* Gradient from dark brown to desert yellow */
    background-repeat: no-repeat;
    background-size: 100% 5px; /* Ensures the gradient covers the entire height of the line */
  }