
@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Cardo&family=Cinzel&family=IM+Fell+DW+Pica&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Medieval theme by sliverspell */

/* Background container iamge */
.markdown-container {
  background-image: url('https://watercolors.giantsoup.com/templates/phb_background_base.png');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  overflow-y: auto; /* Focus on the scrolling issue */
  height: auto; /* Temporarily switch to auto to test behavior */
  min-height: 100vh; /* Ensure it covers at least the viewport height */
  min-height: 100vh;
  border: 1px solid transparent;
  padding: 20px 25px 20px 20px;

}


/* Removing border under h2 and h3 headings */
.markdown-container h2,
.markdown-container h3 {
    border-bottom: none;
}

/* Adjusting font size and line height for elements in markdown-container, excluding headings */
.markdown-container *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1.2em;
    line-height: 1.1em;
}

.markdown-container p {
    padding-top: 10px; /* Adds space above each paragraph */
    padding-bottom: 10px; /* Adds space below each paragraph */
    padding-left: 10px; /* Adds space to the left of each paragraph */
    padding-right: 10px; /* Corrected typo, adds space to the right */
    font-size: 1.2em; /* Adjusts font size for better readability */
    line-height: 1.1em; /* Improves spacing between lines */
    letter-spacing: 0.02em; /* Slightly increases spacing between letters */
}



/* Specific h1 styling within markdown-container */
.markdown-container h1 {
    border-bottom: 4px solid #51735f; /* This line replaces the conflicting h1 styles */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}

div.markdown-container hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    height: 2px;
    background-color: #51735f; /* Fallback color */
    background-image: url('URL_TO_YOUR_IMAGE');
    background-repeat: repeat-x;
    background-size: 100% 2px; /* Example to stretch horizontally */
    box-sizing: border-box;
}


/* Adjusting the blurb container's border */
div#blurb {
    border-top: none;
    border-bottom: none;
}



/* Headers Styling */
h1 {
    font-family: 'Cinzel', serif;
    color: rgba(86, 15, 0, 1);
    text-align: center;
    font-size: 30px;
    border-bottom: 8px solid rgba(86, 15, 0, 1);
    border-top: none;
    padding-bottom: 0.5em;
}

h2 {
    display: flex; /* Using flexbox to manage the space */
    justify-content: center; /* Center the text (flex item) horizontally */
    align-items: center; /* Align the text (flex item) vertically */
    font-family: 'Almendra', serif;
    color: rgba(86, 15, 0, 1);
    font-size: 24px;
    position: relative;
    text-align: center;
    width: 100%; /* Ensure full width to distribute space for lines */
    overflow: hidden; /* Keep everything contained */
    margin: 20px 0; /* Spacing above and below the h2 */
    border-bottom: none;
    padding-bottom: 1px;
}

h2::before,
h2::after {
    content: "";
    flex-grow: 1; /* Allows lines to fill available space */
    background: #890900; /* Red line color */
    height: 0.7px; /* Line thickness */
    margin: 0 10px; /* Spacing between the text and the lines */
}



h3 {
    font-family: 'Lora', serif;
    color: rgba(86, 15, 0, 1);
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #890900; /* Adding red underline */
    display: inline-block;
    padding-left: 10px;
}

h4 {
    font-family: 'Lora', serif;
    color: rgba(86, 15, 0, 1);
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #890900; /* Adding underline border */
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px; /* Creates space between the text and the border */
    margin-bottom: 10px; /* Pushes down content that follows the h4 */
}


/* Table Styling */
table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Cardo', serif;
}

th, td {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

th {
    background: #a48767;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

tr:nth-child(odd) {
    background: #f4e4bc;
}

tr:nth-child(even) {
    background: #e8dfc9;
}

thead {
    background: #927d5e;
    color: #fff;
}

/* Custom styles for blockquote elements */
blockquote {
    margin: 10px 0; /* Adds margin around the quote for spacing */
    padding: 10px; /* Adds padding inside the quote for content spacing */
    background-color: #f9f9f9; /* Light background for the quote block */
    border-left: 5px solid #ccc; /* Typical quote block style */
    box-sizing: border-box; /* Includes padding and border in the element's 
    total width and height */
    display: block; /* Ensures block-level display */
    overflow: hidden; /* Helps contain floated elements if necessary */
    width: auto; /* Adjusts width based on the parent container */
    padding-right: 10px;
}

/* Optional: Adjustments for responsive design or specific placement */
@media (max-width: 768px) {
    blockquote {
        /* Adjust styles for smaller screens or specific scenarios */
    }
}


/* NOTES */
/* Base styles for all notes */
.note, .note2, .note3, .note4, .note5 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto; /* Default width to auto, can be overridden with inline styles */
    height: auto; /* Allows height to adjust based on content */
    box-sizing: border-box;
    display: block; /* Ensures block-level display */
    overflow: hidden; /* Helps contain floated elements if necessary */
}

/* Styles for .note */
.note {
    box-shadow: 0px 0px 20px 4px #444;
    font-size: 1em;
    border-image: url('https://www.gmbinder.com/images/kea0FHP.png') 30 round;
    padding: 8px 10px 10px 10px;
}

/* Styles for .note2 */
.note2 {
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-image: url('https://i.pinimg.com/originals/11/b2/c0/11b2c0d0d3618b138dca11b32e40999d.png');
    border-radius: 20px;
    border: 1px solid transparent;
}

/* Styles for .note3 */
.note3 {
    border-radius: 20px;
    background-image: url('https://watercolors.giantsoup.com/templates/dmg_background_base.png');
    padding: 10px;
}

/* Styles for .note4 */
.note4 {
    border-radius: 20px;
    background-image: url('https://watercolors.giantsoup.com/templates/ice_background_base.png');
    padding: 20px;
}
.note5 {
    display: block;
    color: #fff693;
    padding: 15px;
    position: relative;
    background-color: #a33638;
    font-style: italic;
}

.note6 {
    background-color: black; /* Black background */
    border: 5px solid gold; /* Gold edges */
    width: 250px; /* Default width */
    height: 250px; /* Default height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures no part of the image spills over the container edges */
    box-sizing: border-box;
    position: relative; /* For positioning the inner image */
}

.note6 img {
    max-width: 100%;
    max-height: 100%;
    position: absolute; /* Allows for adjustment within the container */
}


/* Modifier class for making notes round and aligning text */
.noteround {
    border-radius: 50%; /* Maintains circular shape */
    width: 300px; /* Adjust as needed */
    height: 300px; /* Ensure width and height are equal for a perfect circle */
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Aligns children vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    text-align: center; /* Ensures text is centered within each child element */
    padding: 20px; /* Adds padding inside the circle, reducing the effective 
    area for text */
    box-sizing: border-box; /* Ensures padding does not add to the overall dimensions */
    background-size: cover;
    background-position: center;
    border: none; /* Or adjust as needed */
    box-shadow: none; /* Or adjust as needed */
}

.note6.noteround {
    border: 5px solid gold; /* Reinforces gold border for round notes */
    border-radius: 50%; /* Ensures the element remains circular */
}


/* Floating classes */
.float-left {
    float: left;
    margin-right: 20px; /* Adds spacing to the right */
}

.float-right {
    float: right;
    margin-left: 20px; /* Adds spacing to the left */
}

/* Clearfix class */
.clearfix::after {
    content: "";
    display: table;
    clear: both; /* Clears floats, ensuring container encompasses floated children */
}

/* Border roundness toggle */
.square-border {
    border-radius: 0; /* Makes borders square */
}
.note {
    /* Default padding values */
    --note-padding-top: 0;
    --note-padding-bottom: 0;
    --note-padding-left: 0;
    --note-padding-right: 0;
    padding: var(--note-padding-top) var(--note-padding-right) var(--note-padding-bottom) var(--note-padding-left);
    /* Other styles remain unchanged */
}

.page-container {
  position: relative;
  width: 816px; /* Adjust based on your needs */
  height: 1200px; /* Adjust based on your needs */
  margin: auto; /* Center the container */
  overflow: hidden; /* Keep everything contained */
}

/* Container holding the content and images */
.markdown-container {
    position: relative; /* Essential for positioning children */
    width: 100%; /* Container width */
    min-height: 100vh; /* Minimum height */
    overflow: hidden; /* Prevents overflow */
}

/* Header Image */
.header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
}

/* Footer Image */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
}

/* Right Placed Image */
.right-placed-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* Left Placed Image */
.left-placed-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


 .responsive-image-container {
    width: 100%; /* Makes the container take the full width of the screen */
  }

  .responsive-image-container img {
    width: 100% !important; /* Makes the image expand to the full width of its container */
    height: auto !important; /* Ensures the image height adjusts to maintain the aspect ratio */
}

