@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&family=Audiowide&family=Expletus+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Press+Start+2P&display=swap');

/* Neon city overdrive theme by sliverspell */

/* Background container image */
.markdown-container {
  background-image: url('');
  background-color: #4d1f5f;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  color: #ffffff; /* Adjusts default text color */
  font-family: 'Orbitron', sans-serif; /* Default font for all text */
  height: auto; /* Temporarily switch to auto to test behavior */
  min-height: 100vh; /* Ensure it covers at least the viewport height */
  border: 1px solid transparent;
  padding: 20px 25px 20px 20px;
}
/* Text glow effect */
.text-glow {
  text-shadow: 0 0 8px #04d1ff; /* Blue glow */
}
/* Headers styling */
h1 {
    font-family: 'Zen Dots', cursive;
    font-size: 30px; /* Example size, adjust as needed */
    color: #d1ff04; /* Example color, adjust as needed */
    border-bottom: 8px solid #d1ff04;
    text-align: center;
}

h2 {
    font-family: 'Audiowide', cursive;
    font-size: 24px; /* Example size, adjust as needed */
    color: #04d1ff !important; /* Example color, adjust as needed */
    text-align: center;
}


h3, h4 {
    font-family: 'Expletus Sans', cursive;
    font-size: 20px; /* Example size for h3, adjust as needed */
    color: #ff04d1; /* Example color, adjust as needed */
    text-align: center;
}

h4 {
    font-size: 18px; /* Smaller size for h4 */
    color: white; /* Example color, adjust as needed */
}
h5 {
    font-size: 14px; /* Smaller size for h5 */
    color: white; /* Example color, adjust as needed */
}
h6 {
    font-size: 12px; /* Smaller size for h6 */
    color: white; /* Example color, adjust as needed */
}



