@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&family=Audiowide&family=Expletus+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Press+Start+2P&display=swap');



/* Neon city overdrive theme by sliverspell */

/*ALL CODING FROM HERE IS COMMON for all themes*/
/* Background container image. Here you change the background color or image for the object journal, or also known as markdown container */
.markdown-container {
    background-image: url('');
    background-color: #4d1f5f;
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    overflow-y: auto; /* Focus on the scrolling issue */
    height: auto; /* Temporarily switch to auto to test behavior */
    min-height: 100vh; /* Ensure it covers at least the viewport height */
    border: 1px solid transparent;
    border: 1px solid transparent;
    padding: 20px 25px 20px 20px;
    color: #ffffff; /* Adjusts default text color */
    font-family: 'Orbitron', sans-serif; /* Default font for all text */
  }
  
  /* Adjusting the blurb container's border, in other words removing the borders on top and bottom of the markdown container */
  div#blurb {
      border-top: none;
      border-bottom: none;
  }

  
  .markdown-header {
      border-bottom: 4px solid #00ff00; /* Neon Green color */
  }
  
  .markdown-container p {
      padding-top: 10px; /* Adds space above each paragraph */
      padding-bottom: 10px; /* Adds space below each paragraph */
      padding-left: 10px; /* Adds space to the left of each paragraph */
      padding-right: 10px; /* adds space to the right */
      font-size: 1.2em; /* Adjusts font size for better readability */
      line-height: 1.1em; /* Improves spacing between lines */
      letter-spacing: 0.02em; /* Slightly increases spacing between letters */
  }
  
  /* Adjusting font size and line height for elements in markdown-container, excluding headings */
  .markdown-container *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
      font-size: 1.2em;
      line-height: 1.1em;
  }
  /* Floating classes */
  .float-left {
      float: left;
      margin-right: 20px; /* Adds spacing to the right */
  }
  
  .float-right {
      float: right;
      margin-left: 20px; /* Adds spacing to the left */
  }
  
  /* Clearfix class */
  .clearfix::after {
      content: "";
      display: table;
      clear: both; /* Clears floats, ensuring container encompasses floated children */
  }
  
  /* Border roundness toggle */
  .square-border {
      border-radius: 0; /* Makes borders square */
  }
  
  .note {
      /* Default padding values */
      --note-padding-top: 0;
      --note-padding-bottom: 0;
      --note-padding-left: 0;
      --note-padding-right: 0;
      padding: var(--note-padding-top) var(--note-padding-right) var(--note-padding-bottom) var(--note-padding-left);
      /* Other styles remain unchanged */
  }
  
  .page-container {
    position: relative;
    width: 816px; /* Adjust based on your needs */
    height: 1200px; /* Adjust based on your needs */
    margin: auto; /* Center the container */
    overflow: hidden; /* Keep everything contained */
  }
  
  /* Container holding the content and images */
  .markdown-container {
      position: relative; /* Essential for positioning children */
      width: 100%; /* Container width */
      min-height: 100vh; /* Minimum height */
      overflow: hidden; /* Prevents overflow */
  }
  
  /* Header Image */
  .header-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px; /* Adjust the height as needed */
      background-size: cover;
      background-position: center;
  }
  
  /* Footer Image */
  .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 150px; /* Adjust the height as needed */
      background-size: cover;
      background-position: center;
  }
  
  /* Right Placed Image */
  .right-placed-image {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-size: cover;
      background-position: center;
  }
  
  /* Left Placed Image */
  .left-placed-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-size: cover;
      background-position: center;
  }
  
  
   .responsive-image-container {
      width: 100%; /* Makes the container take the full width of the screen */
    }
  
    .responsive-image-container img {
      width: 100% !important; /* Makes the image expand to the full width of its container */
      height: auto !important; /* Ensures the image height adjusts to maintain the aspect ratio */
  }


  /* EVERYTHING UNDER HERE IS SPECIFIC TO THIS THEME */

/* Specific h1 styling within markdown-container */
.markdown-container h1 {
    border-bottom: 4px solid #51735f; /* h1 heading insode the markdwon container */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.markdown-container *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1.2em;
    line-height: 1.1em;
    border: 1px !important; /* Removes all borders */
    padding-left: 20px;
    border-top: none !important; /* Removes top border */
    padding-top: 20px; /* Added padding-top property */
}


.markdown-container *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 12px !important;
    font-family: 'Audiowide', cursive;
    line-height: 1.2em !important;
}

/* Text glow effect */
.text-glow {
  text-shadow: 0 0 8px #04d1ff; /* Blue glow */
}


* Specific styles for markdown header */
.markdown-header {
  border-bottom: 4px solid #00ff00; /* Neon Green color */
}

div.markdown-container hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    height: 2px;
    background-color: #d1ff04; /* Fallback color */
    background-image: url('URL_TO_YOUR_IMAGE');
    background-repeat: repeat-x;
    background-size: 100% 2px; /* Example to stretch horizontally */
    box-sizing: border-box;
}


/* Headers styling */
h1 {
    font-family: 'Zen Dots', cursive;
    font-size: 30px; /* Example size, adjust as needed */
    color: #d1ff04; /* Example color, adjust as needed */
    border-bottom: 8px solid #d1ff04;
    text-align: center;
}

h2 {
    font-family: 'Audiowide', cursive;
    font-size: 24px; /* Example size, adjust as needed */
    color: #04d1ff !important; /* Example color, adjust as needed */
    border-bottom: 2px solid #04d1ff;
    text-align: center;
}


h3, h4 {
    font-family: 'Expletus Sans', cursive;
    font-size: 20px; /* Example size for h3, adjust as needed */
    color: #ff04d1; /* Example color, adjust as needed */
    text-align: center;
}

h4 {
    font-size: 18px; /* Smaller size for h4 */
    color: white; /* Example color, adjust as needed */
}
h5 {
    font-size: 14px; /* Smaller size for h5 */
    color: white; /* Example color, adjust as needed */
}
h6 {
    font-size: 12px; /* Smaller size for h6 */
    color: white; /* Example color, adjust as needed */
}


/* Base styles for all notes */
.note, .note2, .note3, .note4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000; /* Black text for all notes */
    /* Default padding and font size, which can be overridden by inline styles */
    padding: var(--note-padding, 10px); 
    font-size: var(--note-font-size, 12px); /* Adjust default font size here if needed */
    width: auto; 
    height: auto;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.note { background-color: #d1ff04; }
.note2 { background-color: #04d1ff; }
.note3 { background-color: #ff04d1; }
.note4 { background-color: #04ffb0; }
.note5 { background-color: #white; }

.note5 {
    background-color: black; /* Black background */
    border: 5px solid gold; /* Gold edges */
    width: 250px; /* Default width */
    height: 250px; /* Default height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures no part of the image spills over the container edges */
    box-sizing: border-box;
    position: relative; /* For positioning the inner image */
}

/* Modifier class for making notes round and aligning text */
.noteround {
    border-radius: 50%; /* Maintains circular shape */
    width: 300px; /* Adjust as needed */
    height: 300px; /* Ensure width and height are equal for a perfect circle */
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Aligns children vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    text-align: center; /* Ensures text is centered within each child element */
    padding: 20px; /* Adds padding inside the circle, reducing the effective 
    area for text */
    box-sizing: border-box; /* Ensures padding does not add to the overall dimensions */
    background-size: cover;
    background-position: center;
    border: none; /* Or adjust as needed */
    box-shadow: none; /* Or adjust as needed */
}

.note5.noteround {
    border: 5px solid gold; /* Reinforces gold border for round notes */
    border-radius: 50%; /* Ensures the element remains circular */
}
.note5 img {
    max-width: 100%;
    max-height: 100%;
    position: absolute; /* Allows for adjustment within the container */
}

/* Table styling for neon theme */
table {
  border-collapse: collapse;
  width: 100%;
  color: #04d1ff; /* Neon blue for text */
}

th, td {
  border: 1px solid #ff04d1; /* Neon pink borders */
  padding: 8px;
  text-align: left;
}

th {
  background-color: #292834; /* Dark background for headers */
  color: #04ffb0; /* Neon teal for header text */
}

tr:nth-child(odd) {
  background-color: #1e1e2f; /* Slightly lighter dark shade for odd rows */
}

tr:nth-child(even) {
  background-color: #292834; /* Consistent with header background */
}

